<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="none">
    <style type="text/css">
    body {
    background-color: #ffffff;
    color: black;
    }
    </style> 
</head>
<body>
    <h1>enchantnora</h1>
    <p>>> <a href="./ms" rel="nofollow">SHIFT</a></p>
    <p>>> <a href="./data" rel="nofollow">DATA</a></p>
    <p>>> <a href="./cc" rel="nofollow">CYBER CABINET</a></p>
Let me give you an analogy.<br>
If I were to eat meat and potatoes, and I was asked to answer what kind of seasoning was in it, I would have a rather hard time. I would probably only be able to answer "salt" or something like that.<br>
But what if it was your mother or someone who cooks?<br>
Surprisingly, they can tell what seasonings are in the meat and potatoes just by eating them.<br>
<br>
Why on earth would that be?<br>
I know the recipe.<br>
I know the taste of seasonings.<br>
I know the taste of the seasonings.<br>
<br>
Back to the topic at hand.<br>
It is important to accumulate a lot of knowledge in video and design.<br>
And by accumulating knowledge about design, you will be able to distinguish between "good design" and "not-so-good design".<br>
<br>
Let me give you a concrete example.<br>
Let's say you see a poster on the street that uses a font called MS Gothic.<br>
There are many types of Gothic fonts for design, and each has its own merits.<br>
If you know that MS Gothic is a font for screen display and is not designed for design, you will be able to use it in your posters.<br>
MS Gothic is a font designed for screen display, not for design. If you know that, you know that the poster is not well designed.<br>
<br>
However, passersby don't care about fonts.<br>
However, this small difference in knowledge can lead to a big difference in taste.<br>
<br>
A quick way to increase your design knowledge is to look at a lot of artwork.<br>
Be exposed to as many professional works and designs as possible.<br>
One thing to keep in mind is that you should try to look at the work of many different people.<br>
If you keep looking at only one particular person, you will inevitably end up with a different style.<br>
<br>
Don't just look at basic things like design, but also look at the structure of the buildings you see when you walk outside, the beauty of nature in the mountains and forests, and so on.<br>
The beauty of nature in the mountains and forests, even the packaging of familiar products, and everything else in the world should be turned into design knowledge.
</body>
</html>