<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="none">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>{{title}}Ver 2</title>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <style>
            body { background:#000; color:#fff; font-size:20px; margin:40px; }
        
        </style>
    </head>
    <body>
        <div id="status">
            <h1><span id="bin">原紙</span></h1>
        </div>
        <div id='gen'></div>
            <div id='point'></div>
        <script>
        (function() {
            const cc = ['飲まず', '食わず', 'すごい', '防護', '定食', 'ステーキ', '東京スカイツリー', '掃除ゲーム', 'バックルーム']
            for (let i = 1; i <= 10; i++){
                let i2 = ( '000' + i ).slice( -3 );
                let c2= cc[i-1]
                if (!c2) {
                    c2= ''
                }
                $('#gen').html($('#gen').html() + `${i2} ${c2}<br>`);
            }
        }());
        
        window.onload = async function() {
            const sleep = (time) => new Promise((resolve) => setTimeout(resolve, time));
            const id = document.getElementById('bin');
            const cc = ["雲黒斎", "カタパルト", "防衛戦"];
        
            while (true) {
                for (const value of cc) {
                    await sleep(100);
                    document.getElementById('point').innerHTML = value;
                }
            }
        }
        </script>
    </body>
</html>
